body {}
h3 {
    font-family: 'Faster One', cursive;
}
h4 {
    font-family: 'Special Elite', cursive;
}
.hero-body .title {
    text-shadow: 0px 3px 10px #000;
}
.header {
    background-color: #005b63;
}
.big-picture {
    background-image: url("../imgs/clouds.jpg");
    background-size: cover;
}
