@white: #fff;
@main-color: #005b63;

h3 {
    font-family: 'Faster One', cursive;
}
h4 {
    font-family: 'Special Elite', cursive;
}
.logo {
    h3, p {
        margin: 0 !important;
        font-family: 'Vidaloka', serif;
        color: darken(@main-color, 14%);
    }
}
.hero-body .title {
    text-shadow: 0 3px 10px #000;
    text-transform: uppercase;
}
.header {
    background-color: @main-color;
}
.big-picture {
    background-image: url("../imgs/clouds.jpg");
    background-size: cover;
}
